.portfolio__container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* gap: 2.5rem; */
  padding-bottom: 3rem;
}

.portfolio__item {
  background: rgba(0, 0, 0, 0.3);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  min-height: 450px;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0.2rem;
}

.portfolio__item-cta {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

#portfolio
  > div
  > div
  > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
  > span.swiper-pagination-bullet {
  background-color: beige;
}

#portfolio > div > div {
  padding-bottom: 3rem;
}

/* media query for medium devices */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    gap: 1.2rem;
  }
}

/* media query for small devices */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
